body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 20px;
}

hr {
  margin-bottom: 20px;
}

.stock-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stock-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#stock-form label, 
#stock-form select, 
#stock-form input, 
#stock-form button {
  margin: 10px 0;
}

a {
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a:hover {
  text-decoration: underline;
}
